.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-small);
}

.title {
  z-index: 1;
  flex: 100%;
}

.image {
  flex: 100%;
  height: 15rem;
  margin-top: -5.4rem;
  margin-bottom: var(--space-small);
  padding-right: 50%; 
  background: red;
}