.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-small);
}

.title {
  z-index: 1;
  flex: 100%;
  font-size: 7rem;
  /* animation: animate-image 1500ms cubic-bezier(.6,.01,.31,.87) forwards; */

  @media (min-width: 768px) {
    align-self: flex-start;
  }
}

.image {
  flex: 100%;
  height: 15rem;
  margin-bottom: var(--space-small);
  height: auto;
  overflow: hidden;

  @media (min-width: 768px) {
    flex: 33.333%;
    padding-right: inherit;
  }

  & > div {
    overflow: hidden;
    animation: animate-image 1500ms cubic-bezier(.6,.01,.31,.87) forwards;
  }
}

@keyframes animate-image {
  from {
    height: 0;
  } to {
    height: 100%;
  }
}
