.cases {
  display: block;
  text-decoration: none;
}

.cases-visual {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 10vh;
}

.cases-image {
  width: 90%;
  margin-left: 5%;
}


.cases-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  font-size: 25vw;
  text-shadow: 0px 0px 22px rgba(0, 0, 0, .3);

  &.top,
  &.bottom {
    -webkit-text-stroke: 1px snow;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: none;
  }

  &.top {
    transform: translate(-50%, -120%);
    animation: title-top 1500ms cubic-bezier(.6,.01,.31,.87) forwards;
  }

  &.bottom {
    transform: translate(-50%, 20%);
    animation: title-bottom 1500ms cubic-bezier(.6,.01,.31,.87) forwards;
  }
}

@keyframes title-bottom {
    from {
    transform: translate(-50%, -50%);
    opacity: 0;
  } to {
    transform: translate(-50%, 20%);
    opacity: 1;
  }

}

@keyframes title-top {
  from {
    transform: translate(-50%, -50%);
    opacity: 0;
  } to {
    transform: translate(-50%, -120%);
    opacity: 1;
  }
}