@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Open+Sans:400,700");

@font-face {
  font-family: manrope;
  src: url(../fonts/manrope-bold.woff), url(../fonts/manrope-bold.woff2);
}

:root {
  --base-font-family: "Open Sans", sans-serif;
  --heading-font-family: "manrope", sans-serif;
}

body {
  --font-size: 16px;
  --line-height: 1.5;

  font-size: var(--font-size);
  font-family: var(--base-font-family);
  line-height: var(--line-height);
  color: var(--brand-white);

  @media (min-width: 1024px) {
    --font-size: 18px;
  }
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  --line-height: 1.3;

  font-family: var(--heading-font-family);
  line-height: var(--line-height);
}

.h1,
h1 {
  --font-size: 4.563rem;
  font-size: var(--font-size);
  font-weight: bold;
}

.h2,
h2 {
  --font-size: 3.375rem;
  font-size: var(--font-size);
}

.h3,
h3 {
  --font-size: 2.25rem;
  font-size: var(--font-size);
  color: var(--brand-white);
}

.h4,
h4 {
  --font-size: 1.5rem;
  font-size: var(--font-size);
}

a {
  color: var(--brand-white);
}

.highlighted {
  color: var(--brand-primary);
}

.subtitle {
  --font-size: 2rem;
  font-size: var(--font-size);
  font-weight: bold;

  @media (min-width: 1024px) {
    --font-size: 2.25rem;
  }
}

.xl-title {
  --font-size: 15vw;
  position: relative;
  /* color: var(--brand-secondary); */
  z-index: -1;
  transition: padding-left 150ms ease-in-out;
  -webkit-text-stroke: 2px var(--brand-secondary);
  -webkit-text-fill-color: transparent;
  color: transparent;

  @media (min-width: 1024px) {
    --font-size: 160px;
    padding-left: 8rem;
  }

  @media (min-width: 1500px) {
    padding-left: 0;
  }

  &:before {
    @media (min-width: 1024px) {
      content: "0" attr(data-count) " ";
      position: absolute;
      left: 50%;
      width: 100vw;
      transform: translate(calc(-50% - 3rem));
    }
  }
}

.h3__case {
  --font-size: 1.8rem;
}

.nav-link-conainer {
  position: relative;
  height: 90px;
  width: 120px;

  &:hover a.nav-link {
    height: 100%;
  }
}

.nav-link {
  position: absolute;
  display: block;
  font-family: var(--heading-font-family);
  font-size: 60px;
  text-decoration: none;
  -webkit-text-stroke: 1px snow;
  -webkit-text-fill-color: #fff;
  text-transform: uppercase;

  &.active {
    -webkit-text-fill-color: #fff;
  }
}

a.nav-link {
  height: 0;
  overflow: hidden;

  transition: height 500ms cubic-bezier(0.6, 0.01, 0.31, 0.87);
}

span.nav-link {
  -webkit-text-fill-color: transparent;
}

.skill-set {
  display: block;
  margin-bottom: 3rem;
}
