@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Open+Sans:400,700');

:root {
  --base-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Cabin', sans-serif;
}

body {
  --font-size: 16px;
  --line-height: 1.5;
  
  font-size: var(--font-size);
  font-family: var(--base-font-family);
  line-height: var(--line-height);
  color: var(--brand-white);

  @media (--viewport-large) {
    --font-size: 18px;
  }
}

.h1, .h2, .h3, .h4,
h1, h2, h3, h4 {
  --line-height: 1.3;

  font-family: var(--heading-font-family);
  line-height: var(--line-height);
}

.h1,
h1 {
  --font-size: 5.063rem;
  font-size: var(--font-size);
  font-weight: bold;
}

.h2,
h2 {
  --font-size: 3.375rem;
  font-size: var(--font-size);
}

.h3,
h3 {
  --font-size: 2.25rem;
  font-size: var(--font-size);
  color: var(--brand-white);
}

.h4,
h4 {
  --font-size: 1.5rem;
  font-size: var(--font-size);
}

.highlighted {
  color: var(--brand-primary);
}

.subtitle {
  --font-size: 1.5rem;
  font-size: var(--font-size);
  font-weight: bold;
}

.xl-title {
  --font-size: 15vw;
  color: var(--brand-secondary);
}

.h3__case {
  --font-size: 1.8rem;
}